.card-container {
    position: relative; /* fica atrás do conteúdo */
    border: 3px solid #3E4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;

    display: flex;
    overflow: hidden; /* essa propriedade faz com que a imagem entre dentro da caixa */
    margin-top: 10px;
}

.card-img {
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s;
}

.card-img:hover {
    transform: scale(1.1);
}