.card-label-container {
    position: absolute; /* fica na frente do conteúdo */
    bottom: 90px;
    right: 0;
}

.card-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;

}