<div class="home-container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    ></app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
    ></app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="PRÉ-VENDA"
        gameType="CLOUD | PS5"
        gamePrice="R$ 209,99"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="PREMIUM"
        gameType="DISC | PS4 PS5"
        gamePrice="R$ 209,99"
    ></app-card>
</div>