<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img 
        src="../../../assets/ps-logo.png" 
        alt="Playstation Logo"
        srcset=""
        width="140px"
        height="32px">
    </div>
    <div class="menu-bar-item">
        <ul>
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Coleções</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Assinaturas</a></li>
            <li><a href="#">Navegar</a></li>
        </ul>

        <ul>
            <li><a href="https://github.com/Lucc-Minerva"><img src="../../../assets/github-icon.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/luacc_minerva/"><img src="../../../assets/linkedin-icon.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/in/lucas-t-goncalves/"><img src="../../../assets/instagram-icon.png" alt=""></a></li>
        </ul>
    </div>
</div>